.phocaimage-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.phocaimage-gallery a {
    display: block;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.phocaimage-gallery a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.phocaimage-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

/* PhotoSwipe Caption */
.pswp__custom-caption {
    font-size: 16px;
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pswp__custom-caption span{
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
}
